{% extends "rest_framework/base.html" %}

{% block title %}{% if name %}{{ name }} – {% endif %}AulasAPI{% endblock %}

{% block meta %}
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.908em%22 font-size=%2290%22>📊</text></svg>"/>
{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/'>
        AulasAPI
    </a>
{% endblock %}
